/* App.css */
body {
    
    background: rgb(255, 206, 50);
    height: 100vh; /* Full viewport height */
    margin: 0; /* Remove default margins */
  }
  
  .App {
    /* You can add additional styling for your app container here if needed */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
