/* About.css */
.about-image-container {
    display: flex;               /* Enable flexbox for side-by-side layout */
    align-items: center;          /* Vertically center the image and text */
    padding: 20px;                /* Add some padding */
  }

  .about-background-image {
    position: absolute;                /* Keeps the image in the normal flow */
    width: 100%;                       /* Make the image span the entire width of the screen */
    max-height: 100%;                 /* Limit the height to a narrow value */
    overflow: hidden;  
    z-index: -1;                  /* Hide any overflowing part of the image */
}

.about-background-image img {
    width: 100%;                       /* Ensure the image takes up the full width */
    height: auto;                      /* Maintain the aspect ratio of the image */
    filter: blur(2px);
}

  .about-headtext {
    display: flex;
    justify-content: center;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 2em;  
    color: #ffffff;
    text-shadow: 2px 0px 2px rgba(0, 0, 0, 1);
  }

  
  .about-image {
    
    flex: 1;                      /* The image will take up one part of the width */
    margin-right: 20px;           /* Space between the image and the text */
  }

  .about-text {
    flex: 1;                      /* The image will take up one part of the width */
    margin-right: 20px;
    padding: 40px;           /* Space between the image and the text */
    font-variant: small-caps;
    font-weight: bold;
    font-size: 1em;  
    text-shadow: 2px 0px 2px rgba(0, 0, 0, 0.2);
  }
  
  .about-image img {
    max-width: 75%;              /* Make sure the image doesn't exceed its container */
    height: auto;                 /* Maintain the image's aspect ratio */
  }
  
  .about-container p {
    flex: 2;                      /* The text will take up two parts of the width */
    font-size: 1.2rem;            /* Adjust the text size */
    line-height: 1.6;  
    font-variant: small-caps;
    font-weight: bold;
    font-size: 2em;           /* Increase line height for readability */
  }

  .animation_left{
    opacity: 0;
    transform: translateX(500px); /* Start 100px to the right */
    animation: moveleft 1s ease forwards;
  }
  
  @keyframes moveleft {
    0% {
      opacity: 0;
      transform: translateX(500px); /* Start from the right */
    }
    100% {
      opacity: 1;
      transform: translateX(0); /* End at the original position */
    }
  }

  .animation_right {
    opacity: 0;
    transform: translateX(-500px); /* Start 100px to the right */
    animation: moverighttoleft 1s ease forwards;
  }
  
  @keyframes moverighttoleft {
    0% {
      opacity: 0;
      transform: translateX(-500px); /* Start from 100px to the right */
    }
    100% {
      opacity: 1;
      transform: translateX(0); /* End at the original position */
    }
  }
  